@mixin ui-form__typography {
    color: var(--gray);
    font-size: 14px;
    font-weight: 500;

    ::-webkit-input-placeholder {
        color: red;
    }
    ::-moz-placeholder {
        color: red;
    }
    :-ms-input-placeholder {
        color: red;
    }
    :-moz-placeholder {
        color: red;
    }
}
