.ui-form {
    &_input {
        color: var(--black);
        font-size: 14px;
        font-weight: 400;

        input {
            min-height: 50px;
            background: transparent;
            border: 1px solid var(--light-gray);
            transition: all 0.3s ease-out;
            @include ui-form__typography;

            &:focus {
                border: 1px solid var(--primary);
            }
        }
    }
}
